@import 'tailwindcss';

/* global styles */
h1 {
  font-size: 2em;
}

/* Navigation Bar */
nav {
  background-color: whitesmoke;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--color-gray-300);
  padding: 1em 0.5em;
  z-index: 1;
  box-shadow: 0px 1px 10px lightgray, 0em 5px 20px lightgray;
}

nav .flex-container {
  display: flex;
  gap: 0.5em;
}

nav span {
  color: var(--color-gray-300);
}

/* Main Page Content - {children} */

.contact,
.about,
.projects {
  padding-top: 58px;
}

.hero {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  background-color: oklch(1 0 100 / 50%);
  backdrop-filter: blur(5px);
  mask-image: linear-gradient(black 30%, transparent 100%);
  width: 100vw;
  height: 100vh;
}

.hero h1 {
  padding-top: 4.125em;
}

/* about page */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  width: 15em;
  height: 15em;
  overflow: hidden;
  margin: 1em;
}

.profile-background {
  background-image: url(/images/TriangleGradient.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  rotate: 180deg;
}

.profile-frosted-glass {
  position: absolute;
  background-color: oklch(1 0 0 / 4%);
  backdrop-filter: blur(3px);
  box-shadow: 0px 0px 5em oklch(0 0 0 / 60%), 0px 0px 2em oklch(0 0 0 / 50%);
  border-radius: 100%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  z-index: 1;
}

.profile-picture img {
  position: absolute;
  object-fit: contain;
  width: inherit;
  height: inherit;
  bottom: -32px;
  z-index: 2;
}

/* small */
@media (min-width: 640px) {
}

/* medium */
@media (min-width: 768px) {
}

/* large */
@media (min-width: 1024px) {
}
